@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(82, 110, 189, 0.208);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(1, 81, 221);
  outline: 1px solid white;
}

html {
  font-size: 15px;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.header {
  background-color: rgb(7, 62, 157);
  padding: 2vw 5vw;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 7;
  width: 100%;
}
.header .header__wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1920px;
}

.header__logo-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}
.header__logo-container .header__logo {
  height: 50px;
  width: 50px;
}
.header__logo-container .header__text-logo {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 1000;
  font-size: 1.7rem;
  cursor: pointer;
}
.header__logo-container .header__sub {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(247, 235, 0);
}

.header__nav-mobile {
  position: relative;
}
.header__nav-mobile .menu-btn {
  align-self: flex-end;
}
.header__nav-mobile .header__nav-mobile--links {
  width: 300px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 1;
  border-radius: 5px;
  padding: 2vw;
  box-shadow: 0 0 3px 3px rgba(22, 94, 237, 0.347);
  text-transform: uppercase;
}
.header__nav-mobile .header__nav-mobile--links .header__links-logo {
  width: 30px;
}
.header__nav-mobile .header__nav-mobile--links .header__dropdown-item {
  display: flex;
  flex-flow: row nowrap;
  gap: 2vw;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 1000;
  text-decoration: none;
  color: #4687f7;
  width: 100%;
  padding: 7px;
}
.header__nav-mobile .header__nav-mobile--links .header__dropdown-item:hover {
  color: #77a7f9;
}

.header__nav-desktop {
  display: none;
}

.svg {
  display: none;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
  .spacer {
    background-color: #073E9D;
    width: 100%;
    height: 150px;
  }
  .svg {
    display: block;
  }
  header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  header .header__logo-container {
    gap: 0.5vw;
  }
  header .header__logo-container .header__logo {
    height: 60px;
    width: 60px;
  }
  header .header__text-logo {
    font-size: 1.4rem !important;
  }
  header .header__nav-desktop--links {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  header .header__nav-desktop--links:link, header .header__nav-desktop--links:visited, header .header__nav-desktop--links:active {
    text-decoration: none;
  }
  header .header__nav-desktop--links:hover {
    color: #e1e1dd;
  }
  header .header__sub {
    font-size: 0.9rem !important;
  }
  header .header__nav-desktop {
    display: flex;
    flex-flow: row nowrap;
    gap: 5vw;
    align-items: center;
    justify-content: center;
  }
  header .header__nav-mobile {
    display: none;
  }
}
main {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  max-width: 1900px;
}

.landing-page {
  margin: 5vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 1900px;
}
.landing-page .landing-page__title {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(7, 62, 157);
  text-align: center;
  margin: 5vw 0 2vw 0;
}
.landing-page .landing-page__text {
  font-size: 1.2rem;
  color: rgb(80, 78, 78);
  font-weight: 550;
  text-align: justify;
}
.landing-page .landing-page__buttons {
  display: flex;
  flex-flow: column;
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.landing-page .landing-page__buttons .btn {
  border: 1px solid rgb(7, 62, 157);
  background-color: rgb(1, 81, 221);
  color: white;
  box-shadow: 4px 4px rgb(186, 185, 185);
  width: 90vw;
  height: 70px;
  font-size: 1.1rem;
  font-weight: 500;
  transition-duration: 1000ms;
}
.landing-page .landing-page__buttons .btn:hover {
  transform: translateY(-10px);
}
.landing-page .landing-page__buttons .btn--how {
  background-color: white;
  color: rgb(7, 62, 157);
}
.landing-page .landing-page__img {
  width: 250px;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1 !important;
}

.svg svg {
  position: relative;
  display: block;
  width: calc(156% + 1.3px);
  height: 550px;
}

.svg .shape-fill {
  fill: #073E9D;
}

@media only screen and (min-width: 900px) {
  svg {
    height: 50vw !important;
    max-height: 1000px;
  }
  .svg {
    display: block;
    z-index: -1;
  }
  .landing-page {
    z-index: 2;
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 0;
  }
  .landing-page .landing-page__img-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
  }
  .landing-page .landing-page__img {
    width: 370px;
  }
  .landing-page .landing-page__content {
    width: 50vw;
  }
  .landing-page .landing-page__content .landing-page__title {
    color: rgb(247, 235, 0);
    text-align: left;
  }
  .landing-page .landing-page__content .landing-page__text {
    color: white;
    font-size: 1rem;
    width: 80%;
  }
  .landing-page .landing-page__content .landing-page__buttons {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .landing-page .landing-page__content .landing-page__buttons .btn {
    width: 20vw;
    font-size: 1rem;
    border: 2px solid rgb(182, 180, 180);
    padding: 10px;
    height: 80px;
  }
}
.announcement {
  margin: 10vw 5vw;
  padding: 3vw;
  background-color: white;
  max-height: 700px;
  max-width: 1200px;
  width: 90%;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(7, 62, 157);
  overflow-y: scroll;
}
.announcement .announcement__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  margin-bottom: 2vw;
}
.announcement .announcement__logo {
  width: 40px;
  margin-bottom: 20px;
}
.announcement .announcement__title {
  font-size: 2rem;
  color: rgb(234, 116, 116);
  text-align: center;
}

.announcement__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 5vw 2vw;
  border-top: 2px solid rgb(80, 78, 78);
}
.announcement__content .announcement__news-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.announcement__content .announcement__news-header .announcement__news-title {
  color: rgb(80, 78, 78);
  font-weight: 500;
}
.announcement__content .announcement__news-header .announcement__news-metadata {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  gap: 2vw;
  color: rgb(120, 119, 119);
  font-style: italic;
  font-size: 0.8rem;
}

.announcement__news-body {
  color: rgb(80, 78, 78);
}/*# sourceMappingURL=main.css.map */