@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  margin-right: 20px !important;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(82, 111, 189, 0);
          box-shadow: inset 0 0 6px rgba(82, 111, 189, 0);
  background-color: rgba(255, 255, 255, 0.468);
}

*::-webkit-scrollbar-thumb {
  background-color: #073e9d;
  outline: 1px solid rgba(204, 202, 202, 0.69);
  border-radius: 50px !important;
}

html {
  font-size: 15px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
  color: #504e4e;
}

.header {
  background-color: #073e9d;
  padding: 2vw 5vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 7;
  width: 100%;
  min-width: 320px;
}

.header .header__wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1920px;
}

.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 1vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__logo-container .header__logo {
  height: 50px;
  width: 50px;
}

.header__logo-container .header__text-logo {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 1000;
  font-size: 1.7rem;
  cursor: pointer;
  text-decoration: none;
}

.header__logo-container .header__sub {
  font-size: 1rem;
  font-weight: 400;
  color: #f7eb00;
}

.header__nav-mobile {
  position: relative;
}

.header__nav-mobile .menu-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header__nav-mobile .header__nav-mobile--links {
  width: 320px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 1;
  border-radius: 5px;
  padding: 2vw;
  -webkit-box-shadow: 0 0 3px 3px rgba(22, 94, 237, 0.347);
          box-shadow: 0 0 3px 3px rgba(22, 94, 237, 0.347);
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__nav-mobile .header__nav-mobile--links .header__links-logo {
  width: 30px;
}

.header__nav-mobile .header__nav-mobile--links .header__dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 2vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 1000;
  text-decoration: none;
  color: #4687f7;
  width: 100%;
  padding: 7px;
  background: transparent;
  border: none;
  text-align: left;
}

.header__nav-mobile .header__nav-mobile--links .header__dropdown-item:hover {
  color: #77a7f9;
  cursor: pointer !important;
}

.header__nav-desktop {
  display: none;
}

.landing-page__wave {
  display: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
}

.landing-page {
  margin: 0 5vw 5vw 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1900px;
}

.landing-page .landing-page__title {
  font-size: 2rem;
  font-weight: 700;
  color: #073e9d;
  text-align: center;
  margin: 5vw 0 2vw 0;
}

.landing-page .landing-page__text {
  font-size: 1.2rem;
  font-weight: 550;
  text-align: justify;
}

.landing-page .landing-page__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 20px;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .landing-page__buttons .btn {
  border: 1px solid #073e9d;
  background-color: #0151dd;
  color: white;
  -webkit-box-shadow: 5px 5px #bab9b9;
          box-shadow: 5px 5px #bab9b9;
  width: 90vw;
  height: 70px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 20px;
}

.landing-page .landing-page__buttons .btn-how {
  background-color: white;
  color: #073e9d;
}

.landing-page .landing-page__buttons .btn-link {
  text-decoration: none;
}

.landing-page .landing-page__img {
  width: 210px;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.landing-page__wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: -1 !important;
}

.landing-page__wave svg {
  position: relative;
  display: block;
  width: calc(156% + 1.3px);
  height: 450px;
}

.landing-page__wave .shape-fill {
  fill: #073e9d;
}

@media only screen and (min-width: 900px) {
  svg {
    height: 60vw !important;
    max-height: 1000px;
  }
  .landing-page__wave {
    display: block;
    z-index: -1;
  }
  .landing-page {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 8vw;
  }
  @-webkit-keyframes floating {
    0% {
      -webkit-transform: translate(0, 0px);
              transform: translate(0, 0px);
    }
    50% {
      -webkit-transform: translate(0, 40px);
              transform: translate(0, 40px);
    }
    100% {
      -webkit-transform: translate(0, 0px);
              transform: translate(0, 0px);
    }
  }
  @keyframes floating {
    0% {
      -webkit-transform: translate(0, 0px);
              transform: translate(0, 0px);
    }
    50% {
      -webkit-transform: translate(0, 40px);
              transform: translate(0, 40px);
    }
    100% {
      -webkit-transform: translate(0, 0px);
              transform: translate(0, 0px);
    }
  }
  .landing-page .landing-page__img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 500px;
  }
  .landing-page .landing-page__img {
    width: 370px;
    -webkit-animation-name: floating;
            animation-name: floating;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  .landing-page .landing-page__content {
    width: 50vw;
  }
  .landing-page .landing-page__content .landing-page__title {
    color: #f7eb00;
    text-align: left;
  }
  .landing-page .landing-page__content .landing-page__text {
    color: white;
    font-size: 1rem;
    width: 80%;
  }
  .landing-page .landing-page__content .landing-page__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .landing-page .landing-page__content .landing-page__buttons .btn {
    width: 20vw;
    font-size: 1rem;
    border: 2px solid #b6b4b4;
    padding: 10px;
    height: 80px;
    -webkit-transition-duration: 500ms !important;
            transition-duration: 500ms !important;
  }
  .landing-page .landing-page__content .landing-page__buttons .btn:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    cursor: pointer;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
  .spacer {
    background-color: #073E9D;
    width: 100%;
    height: 150px;
  }
  .landing-page__wave {
    display: block;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__logo-container {
    gap: 0.5vw;
    cursor: pointer;
    text-decoration: none;
  }
  header .header__logo-container .header__logo {
    height: 60px;
    width: 60px;
  }
  header .header__text-logo {
    font-size: 1.4rem !important;
  }
  header .header__nav-desktop--links {
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  header .header__nav-desktop--links:link, header .header__nav-desktop--links:visited, header .header__nav-desktop--links:active {
    text-decoration: none;
  }
  header .header__nav-desktop--links:hover {
    color: #e1e1dd;
  }
  header .header__sub {
    font-size: 0.9rem !important;
  }
  header .header__nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    gap: 5vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header__nav-mobile {
    display: none;
  }
}

.announcement {
  margin: 10vw 5vw 5vw 5vw;
  padding: 3vw;
  background-color: white;
  max-height: 600px;
  max-width: 1200px;
  width: 85%;
  z-index: 2;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px rgba(81, 84, 90, 0.539);
          box-shadow: 0px 0px 5px rgba(81, 84, 90, 0.539);
  overflow-y: scroll;
}

.announcement .announcement__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5vw;
  margin-bottom: 2vw;
}

.announcement .announcement__logo {
  width: 40px;
  margin-bottom: 20px;
}

.announcement .announcement__title {
  font-size: 2rem;
  color: #ea7474;
  text-align: center;
  font-weight: 700;
}

.announcement__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  padding: 4vw 2vw;
  border-top: 2px solid #504e4e;
}

.announcement__content .announcement__news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.announcement__content .announcement__news-header .announcement__news-title {
  font-weight: 500;
}

.announcement__content .announcement__news-header .announcement__news-metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  gap: 2vw;
  color: #787777;
  font-style: italic;
  font-size: 0.8rem;
}

@media only screen and (min-width: 1200px) {
  .announcement {
    max-height: 800px;
  }
}

.benefit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #073e9d;
  padding: 50px 0;
}

.benefit .benefit__header {
  color: #f7eb00;
  font-weight: 700;
  font-size: 2rem;
  z-index: 2;
}

.benefit .benefit__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefit__card {
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2vw;
  width: 85%;
  border-radius: 10px;
}

.benefit__card .benefit__title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  color: white;
}

.benefit__card .benefit__content {
  text-align: justify;
}

.benefit__svg-upper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
}

.benefit__svg-upper svg {
  position: relative;
  display: block;
  width: calc(168% + 1.3px);
  height: 327px !important;
}

.benefit__svg-upper .shape-fill {
  fill: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .benefit__svg-upper svg {
    width: calc(146% + 1.3px);
    height: 315px !important;
  }
}

@media (max-width: 767px) {
  .benefit__svg-upper svg {
    width: calc(160% + 1.3px);
    height: 165px !important;
  }
}

.benefit__svg-lower {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.benefit__svg-lower svg {
  position: relative;
  display: block;
  width: calc(168% + 1.3px);
  height: 327px !important;
}

.benefit__svg-lower .shape-fill {
  fill: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .benefit__svg-lower svg {
    width: calc(146% + 1.3px);
    height: 315px !important;
  }
}

@media (max-width: 767px) {
  .benefit__svg-lower svg {
    width: calc(160% + 1.3px);
    height: 165px !important;
  }
}

@media only screen and (min-width: 700px) {
  .benefit__card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .benefit__card-container .benefit__card {
    width: 30vw;
    z-index: 3;
  }
}

.tutorial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 3vw 5vw;
  padding: 0 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tutorial .tutorial__header {
  font-weight: 700;
  color: #073e9d;
  font-size: 2rem;
  text-align: center;
  margin: 2vw;
  width: 100%;
}

.tutorial .tutorial__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3vw;
}

.tutorial .tutorial__content .tutorial__video-container {
  margin-bottom: 5vw;
  width: 100%;
  height: 50vw;
  max-width: 800px;
  max-height: 455px;
}

.tutorial .tutorial__content .tutorial__video-container iframe {
  border-radius: 20px;
}

.tutorial .tutorial__content .tutorial__procedure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.tutorial__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  gap: 30px;
}

.tutorial__steps .tutorial__circle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 5vw;
  text-align: justify;
}

.tutorial__steps .tutorial__circle-container .circle {
  min-width: 70px;
  width: 70px;
  height: 70px;
  background-color: pink;
  border-radius: 50px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  -webkit-box-shadow: 0 0 10px 3px rgba(20, 87, 195, 0.41);
          box-shadow: 0 0 10px 3px rgba(20, 87, 195, 0.41);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tutorial__steps .tutorial__circle-container .step1 {
  background-color: #1188ea;
}

.tutorial__steps .tutorial__circle-container .step2 {
  background-color: #02af89;
}

.tutorial__steps .tutorial__circle-container .step3 {
  background-color: #e95974;
}

.tutorial__steps .tutorial__circle-container .step4 {
  background-color: #9759e9;
}

.tutorial__steps .tutorial__circle-container .step5 {
  background-color: #e959c7;
}

.tutorial__steps .tutorial__circle-container .tutorial__step1:hover {
  color: #1188ea;
  cursor: pointer;
}

.tutorial__steps .tutorial__circle-container .tutorial__step2:hover {
  color: #02af89;
  cursor: pointer;
}

.tutorial__steps .tutorial__circle-container .tutorial__step3:hover {
  color: #e95974;
  cursor: pointer;
}

.tutorial__steps .tutorial__circle-container .tutorial__step4:hover {
  color: #9759e9;
  cursor: pointer;
}

.tutorial__steps .tutorial__circle-container .tutorial__step5:hover {
  color: #e959c7;
  cursor: pointer;
}

.tutorial__steps .line {
  background-color: #504e4e;
  width: 5px;
  height: 85%;
  position: absolute;
  z-index: -1;
  left: 33px;
}

@media only screen and (min-width: 900px) {
  .tutorial .tutorial__content {
    gap: 10px;
  }
  .tutorial__procedure {
    width: 80%;
  }
  .tutorial__procedure .tutorial__circle-container {
    gap: 3vw;
  }
  .tutorial__video-container iframe {
    -webkit-box-shadow: 10px 10px #bab9b9;
            box-shadow: 10px 10px #bab9b9;
  }
}

@media only screen and (min-width: 1600px) {
  .tutorial {
    width: 100%;
  }
  .tutorial .tutorial__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    gap: 3vw;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tutorial .tutorial__content .tutorial__procedure {
    width: 50vw;
  }
  .tutorial__circle-container {
    gap: 1vw !important;
  }
}

footer {
  padding: 5vw;
  background-color: #073e9d;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin-top: 5vw;
  min-width: 320px;
}

footer .about {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 10px;
  z-index: 2;
}

footer .about .about__header {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #f7eb00;
}

footer .about .about__content {
  text-align: justify;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 10vw;
  color: #fff;
}

.contact .contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.contact .contact__social .contact__img {
  width: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact .contact__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact__social:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  cursor: pointer;
}

.contact .contact__social-facebook a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 10px;
  text-decoration: none;
  color: #fff;
}

.footer__svg-upper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
}

.footer__svg-upper svg {
  position: relative;
  display: block;
  width: calc(168% + 1.3px);
  height: 327px !important;
}

.footer__svg-upper .shape-fill {
  fill: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__svg-upper svg {
    width: calc(146% + 1.3px);
    height: 315px !important;
  }
}

@media (max-width: 767px) {
  .footer__svg-upper svg {
    width: calc(160% + 1.3px);
    height: 165px !important;
  }
}

@media only screen and (min-width: 900px) {
  footer .contact {
    gap: 3vw;
  }
  footer .about {
    width: 70%;
  }
  footer .about .about__mobile-break {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 13px;
  }
  .header {
    height: 50px;
  }
  .header .header__logo {
    width: 40px;
    height: 40px;
  }
  .header__nav-mobile .header__nav-mobile--links {
    width: 200px;
  }
  .landing-page .landing-page__img {
    width: 150px;
  }
  .landing-page .landing-page__buttons {
    gap: 10px;
    margin-top: 15px;
  }
  .landing-page .landing-page__buttons .btn {
    height: 50px;
    font-size: 1.2rem;
  }
  .announcement .announcement__logo {
    width: 40px;
  }
}
/*# sourceMappingURL=main.css.map */