@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.3rem;
  margin-right: 20px !important;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(82, 111, 189, 0);
  background-color: rgba(160, 159, 159, 0.73);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(7, 62, 157);
  outline: 1px solid rgba(204, 202, 202, 0.69);
  border-radius: 50px !important;
}

html {
  font-size: 15px;
}

body {
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  cursor: default;
  color: rgb(80, 78, 78);
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: rgb(255, 247, 0);
  padding: 2vw 5vw;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 7;
  width: 100%;
}
.header .header__wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1920px;
}

.header__logo-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header__logo-container .header__logo {
  height: 50px;
  width: 50px;
}
.header__logo-container .header__text-logo {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 1000;
  font-size: 1.7rem;
  cursor: pointer;
  text-decoration: none;
}
.header__logo-container .header__sub {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(247, 235, 0);
}

.header__nav-mobile {
  position: relative;
}
.header__nav-mobile .menu-btn {
  align-self: flex-end;
}
.header__nav-mobile .header__nav-mobile--links {
  width: 300px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 1;
  border-radius: 5px;
  padding: 2vw;
  box-shadow: 0 0 3px 3px rgba(22, 94, 237, 0.347);
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__nav-mobile .header__nav-mobile--links .header__links-logo {
  width: 30px;
}
.header__nav-mobile .header__nav-mobile--links .header__dropdown-item {
  display: flex;
  flex-flow: row nowrap;
  gap: 2vw;
  align-items: center;
  font-size: 1rem;
  font-weight: 1000;
  text-decoration: none;
  color: #4687f7;
  width: 100%;
  padding: 7px;
  background: transparent;
  border: none;
}
.header__nav-mobile .header__nav-mobile--links .header__dropdown-item:hover {
  color: #77a7f9;
  cursor: pointer !important;
}

.header__nav-desktop {
  display: none;
}

.landing-page__wave {
  display: none;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
  .spacer {
    background-color: #073E9D;
    width: 100%;
    height: 150px;
  }
  .landing-page__wave {
    display: block;
  }
  header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  header .header__logo-container {
    gap: 0.5vw;
    cursor: pointer;
    text-decoration: none;
  }
  header .header__logo-container .header__logo {
    height: 60px;
    width: 60px;
  }
  header .header__text-logo {
    font-size: 1.4rem !important;
  }
  header .header__nav-desktop--links {
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  header .header__nav-desktop--links:link, header .header__nav-desktop--links:visited, header .header__nav-desktop--links:active {
    text-decoration: none;
  }
  header .header__nav-desktop--links:hover {
    color: #e1e1dd;
  }
  header .header__sub {
    font-size: 0.9rem !important;
  }
  header .header__nav-desktop {
    display: flex;
    flex-flow: row nowrap;
    gap: 5vw;
    align-items: center;
    justify-content: center;
  }
  header .header__nav-mobile {
    display: none;
  }
}
main {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-container {
  width: 95vw;
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1600px;
}
.form-container form {
  /* border: 1px solid black; */
  background-color: whitesmoke;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  max-height: 900px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.569);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

form input {
  width: 200px;
  border-radius: 15px;
  padding: 5px;
  margin: 0.5vw;
}

.progression {
  width: 100%;
  height: 30px;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.2vw;
  justify-content: center;
  align-items: flex-end;
}
.progression .progression__step {
  background-color: rgb(184, 183, 183);
  /* box-shadow: 0 0 5px rgba(33, 32, 32, 0.585); */
  height: 20%;
  flex-grow: 1;
  /* border-radius: 5px; */
  position: relative;
  transition-duration: 500ms;
}

.progression__title {
  display: none;
  position: absolute;
  bottom: 5px;
}

.form__btn-container {
  display: flex;
  flex-flow: row nowrap;
  margin: 2vw;
  gap: 2vw;
}
.form__btn-container .btn {
  width: 10vw;
  background-color: aquamarine;
  border: none;
  border-radius: 15px;
  color: rgb(95, 92, 92);
  min-width: 100px;
}
.form__btn-container .btn:hover {
  cursor: pointer;
  background-color: rgb(22, 230, 161);
}

.progression .answered {
  background-color: rgb(3, 93, 247);
}

.form-part {
  display: flex;
  flex-flow: column;
}

.second, .third, .fourth {
  display: none;
}

@media only screen and (min-width: 1400px) {
  .form-container {
    height: 85vh;
    margin-top: 30px;
    font-weight: 600;
  }
  .progression__title {
    display: flex;
  }
}/*# sourceMappingURL=schedule.css.map */