* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 0.5rem;
    margin-right: 20px !important;
  }
   
  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(82, 111, 189, 0);
    background-color: rgba(255, 255, 255, 0.468);
  } 
   
  *::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    outline: 1px solid rgba(204, 202, 202, 0.69);
    border-radius: 50px !important;
  }