$primary-color: rgb(7, 62, 157);
$primary-alt: rgb(1, 81, 221);
$secondary-color: #fff;
$sub-color: rgb(247, 235, 0);
$fontbase-color:rgb(80, 78, 78);
$avail-color: rgb(74, 219, 74);
$unavail-color: rgb(255, 0, 0);
