@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "./variables";
@import "./resets";

html{
    font-size: 15px;
    // scroll-behavior:smooth;
}

body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    cursor: default;
    color: $fontbase-color;
    // background-image: url(../imgs/bg.jpg);
    // background-repeat: no-repeat;
    // background-size:cover;
    width: 100vw;
    height: 100vh;
}
.header{
    background-color: $primary-color;
    padding: 2vw 5vw;  
    position: sticky;
    top: 0;
    height: 70px;
    z-index: 7;
    width: 100%;

    #{&}__wrapper{
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 1920px;
    }
}

.header__logo-container{
    display: flex;
    flex-flow: row nowrap;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    .header__logo{
        height: 50px;
        width: 50px;
    }
    
    .header__text-logo{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-weight: 1000;
        font-size: 1.7rem;
        cursor: pointer;
        text-decoration: none;
    }
    
    .header__sub{
        font-size: 1rem;
        font-weight: 400;
        color: rgb(247, 235, 0);
    }
}

.header__nav-mobile{
    position: relative;

    .menu-btn{
        align-self: flex-end;
    }

    .header__nav-mobile--links{
        width: 300px;
        background-color: $secondary-color;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 1;
        border-radius: 5px;
        padding: 2vw;
        box-shadow: 0 0 3px 3px rgba(22, 94, 237, 0.347);
        text-transform: uppercase;
        user-select: none;

        .header__links-logo{
            width: 30px;
        }

        .header__dropdown-item{
            display: flex;
            flex-flow: row nowrap;
            gap: 2vw;
            align-items: center;
            font-size: 1rem;
            font-weight: 1000;
            text-decoration: none;
            color: lighten($color: $primary-color, $amount: 30);
            width: 100%;
            padding: 7px;
            background: transparent;
            border: none;
        }

        .header__dropdown-item:hover{
            color: lighten($color: $primary-color, $amount: 40);
            cursor: pointer !important;
        }
    }
}

.header__nav-desktop{
    display: none;
}

// AYUSIN MAIN KINAKAIN NUNG HEADER NA STICKY NATATAKPAN

.landing-page__wave{
    display: none;
}



@media only screen and (min-width: 1200px) {
    html{
        font-size: 20px;
    }

    .spacer{
        background-color:#073E9D;
        width: 100%;
        height: 150px;
    }

    .landing-page__wave{
        display: block;
    }
    
    header{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .header__logo-container{
            gap: 0.5vw;
            cursor: pointer;
            text-decoration: none;

            .header__logo{
                height: 60px;
                width: 60px;
            }
        }

        .header__text-logo{
            font-size: 1.4rem !important;
        }

        .header__nav-desktop--links{
            text-decoration: none;
            color: white;
            font-weight: 500;
            background-color: transparent;
            border: none;
            cursor: pointer;
            // transition-duration: 200ms;
        }
        .header__nav-desktop--links:link, .header__nav-desktop--links:visited, .header__nav-desktop--links:active{
            text-decoration: none;
        }
    
        .header__nav-desktop--links:hover{
             color: #e1e1dd;
            //  scale: 1.1;
        }
    
        .header__sub{
            font-size: 0.9rem !important;
        }

        .header__nav-desktop{
            display: flex;
            flex-flow: row nowrap;
            gap: 5vw;
            align-items: center;
            justify-content: center;
        }
        
        .header__nav-mobile{
            display: none;
        }
    }
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 95vw;
    height: 85vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1600px; 
    //min-height: 900px;

    form{
        /* border: 1px solid black; */
        background-color: whitesmoke;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        max-width: 1600px;
        max-height: 900px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.569);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

form{

    input{
        width: 200px;
        border-radius: 15px;
        padding: 5px;
        margin: 0.5vw;
    }
}

.progression{
    width: 95vw;
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5vw;
    justify-content: center;
    align-items: flex-end;
    
    .progression__step{
        background-color: rgb(184, 183, 183);
        /* box-shadow: 0 0 5px rgba(33, 32, 32, 0.585); */
        height: 20%;
        flex-grow: 1;
        /* border-radius: 5px; */
        position: relative;
        transition-duration: 500ms;
        min-height: 10px;
    }
}

.progression__title{
    display: none;
    position: absolute;
    bottom: 5px;
}

.form__btn-container{
    display: flex;
    flex-flow: row nowrap;
    margin: 1vw;
    gap: 2vw;

    .btn{
        width: 10vw;
        background-color: aquamarine;
        border: none;
        border-radius: 15px;
        color: rgb(95, 92, 92);
        min-width: 100px;
    }

    .btn:hover{
        cursor: pointer;
        background-color: rgb(22, 230, 161);
    }
}

.progression{
    .answered{
        background-color: rgb(3, 93, 247);
    }
}


.second, .third, .fourth{
    display: none;
}



@media only screen and (min-width: 1400px){

    .form-container{
        height: 85vh;
        margin-top: 30px;
        font-weight: 600;
    }

    .progression__title{
        display: flex;
    }
    
}

.first{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 5vw;
    padding: 5vw;
    align-items: flex-start;
    justify-content:center;
    overflow-y: auto;
    max-height: 800px;
    // LIITAN GAP AND PADDING SA DESKTOP MODE 

    .form__card{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        //border: 2px solid gray;
        width: 35vw;
        height: 30vh;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 5px rgba(104, 104, 104, 0.631);
    }

    .form__card:hover{
        cursor: pointer;
        box-shadow: 0 0 10px rgba(73, 72, 72, 0.631);
    }

    .form__img-container{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        // background-position: center;
        // background-repeat: no-repeat;
        // background-image: url('./../imgs/dummyimg.png');
        // background-size: cover;
        // background-origin: content-box;
        // padding: 20px;
    }

    .form__dept-img{
        width: 80%;
        //border: 1px solid rgb(123, 123, 123);
        border-radius: 10px;
    }

    .form__dept-title{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary-color;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        background-color: $primary-color;
        width: 100%;
        height: 80px;
        border-radius: 0 0 10px 10px;
    }
}