@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "./variables";
@import "./resets";

html{
    font-size: 15px;
    // scroll-behavior:smooth;
}

body{
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    cursor: default;
    color: $fontbase-color;
    // background-image: url(../imgs/bg.jpg);
    // background-repeat: no-repeat;
    // background-size:cover;
    // overflow-x:hidden;
}

.header{
    background-color: $primary-color;
    padding: 2vw 5vw;  
    position: sticky;
    top: 0;
    height: 70px;
    z-index: 7;
    width: 100%;
    min-width: 320px;

    #{&}__wrapper{
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 1920px;
    }
}

.header__logo-container{
    display: flex;
    flex-flow: row nowrap;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    .header__logo{
        height: 50px;
        width: 50px;
    }
    
    .header__text-logo{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-weight: 1000;
        font-size: 1.7rem;
        cursor: pointer;
        text-decoration: none;
    }
    
    .header__sub{
        font-size: 1rem;
        font-weight: 400;
        color: rgb(247, 235, 0);
    }
}

.header__nav-mobile{
    position: relative;

    .menu-btn{
        align-self: flex-end;
    }

    .header__nav-mobile--links{
        width: 320px;
        background-color: $secondary-color;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 1;
        border-radius: 5px;
        padding: 2vw;
        box-shadow: 0 0 3px 3px rgba(22, 94, 237, 0.347);
        text-transform: uppercase;
        user-select: none;

        .header__links-logo{
            width: 30px;
        }

        .header__dropdown-item{
            display: flex;
            flex-flow: row nowrap;
            gap: 2vw;
            justify-content: flex-start;
            align-items: center;
            font-size: 1rem;
            font-weight: 1000;
            text-decoration: none;
            color: lighten($color: $primary-color, $amount: 30);
            width: 100%;
            padding: 7px;
            background: transparent;
            border: none;
            text-align: left;
        }

        .header__dropdown-item:hover{
            color: lighten($color: $primary-color, $amount: 40);
            cursor: pointer !important;
        }
    }
}

.header__nav-desktop{
    display: none;
}

// AYUSIN MAIN KINAKAIN NUNG HEADER NA STICKY NATATAKPAN

@media only screen and (min-width: 1200px) {
    html{
        font-size: 20px;
    }
    
    header{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .header__logo-container{
            gap: 0.5vw;
            cursor: pointer;
            text-decoration: none;

            .header__logo{
                height: 60px;
                width: 60px;
            }
        }

        .header__text-logo{
            font-size: 1.4rem !important;
        }

        .header__nav-desktop--links{
            text-decoration: none;
            color: white;
            font-weight: 500;
            background-color: transparent;
            border: none;
            cursor: pointer;
            // transition-duration: 200ms;
        }
        .header__nav-desktop--links:link, .header__nav-desktop--links:visited, .header__nav-desktop--links:active{
            text-decoration: none;
        }
    
        .header__nav-desktop--links:hover{
             color: #e1e1dd;
            //  scale: 1.1;
        }
    
        .header__sub{
            font-size: 0.9rem !important;
        }

        .header__nav-desktop{
            display: flex;
            flex-flow: row nowrap;
            gap: 5vw;
            align-items: center;
            justify-content: center;
        }
        
        .header__nav-mobile{
            display: none;
        }
    }
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1900px;
    min-width: 320px
}



.form-container{
    width: 90vw;
    height: 75vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    // max-width: 1600px; 
    //min-height: 900px;

    form{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
    }

    .form__form-parts{
        /* border: 1px solid black; */
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        width: 100%;
        // max-width: 1600px;
        // max-height: 900px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.303);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        height: 60vh; 
    }
}


.progression{
    width: 90vw;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5vw;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: 2vw;
    
    .progression__step{
        background-color: rgb(184, 183, 183);
        /* box-shadow: 0 0 5px rgba(33, 32, 32, 0.585); */
        height: 10%;
        flex-grow: 1;
        /* border-radius: 5px; */
        position: relative;
        transition-duration: 500ms;
        min-height: 5px;
    }

    .mobile-label{
        position: absolute;
        left: 0;
        bottom: 15px;
        font-weight: 700;
        font-size: 1.5rem;
        transition-duration: 500ms;
        color: $fontbase-color;
    }
}

.progression__title{
    display: none;
    position: absolute;
    bottom: 5px;
    transition-duration: 500ms;
}

.form__btn-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 10px 0;

    .btn{
        width: 100%;
        padding: 15px;
        background-color: aquamarine;
        border: none;
        border-radius: 10px;
        color: rgb(95, 92, 92);
        min-width: 100px;
        max-width: 500px;
        color: white;
        font-weight: 500;
        font-size: 1.1rem;
    }

    .btn-next{
        background-color: $primary-alt;
    }

    .btn-back{
        background-color: rgb(192, 189, 189);
    }

    .btn-next:hover{
        cursor: pointer;
        background-color: rgb(13, 81, 198);
    }

    .btn-back:hover{
        cursor: pointer;
        background-color: rgb(168, 169, 170);
    }
}


.progression{
    .answered{
        background-color: rgb(3, 93, 247);
    }
}


.second, .third, .fourth{
    display: none;
}


.first{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 5vw;
    padding: 3vw;
    align-items: flex-start ;
    justify-content:center;
    overflow-y: auto;
    max-height: 800px;
    // LIITAN GAP AND PADDING SA DESKTOP MODE 

    .form__card{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        //border: 2px solid gray;
        width: 150px;
        height: 200px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 5px rgba(104, 104, 104, 0.631);
    }

    .form__card:hover{
        cursor: pointer;
        box-shadow: 0 0 10px rgba(73, 72, 72, 0.631);
    }

    .form__img-container{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        // background-position: center;
        // background-repeat: no-repeat;
        // background-image: url('./../imgs/dummyimg.png');
        // background-size: cover;
        // background-origin: content-box;
        // padding: 20px;
    }

    .form__dept-img{
        width: 80%;
        //border: 1px solid rgb(123, 123, 123);
        border-radius: 10px;
    }

    .form__dept-title{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 700;
        background-color: $secondary-color;
        width: 100%;
        height: 70px;
        border-radius: 0 0 10px 10px;
        // position: absolute;
        // top: 50px;
    }
}

.active{
    color: $primary-alt;
}

@media only screen and (min-width: 900px){
    .form__btn-container{
        flex-flow: row-reverse nowrap;
        justify-content: flex-start;

        .btn{
            min-width: none;
            max-width: 200px;
            width: 15%;
        }
    }

    .form-container{
        .form__form-parts{
            height: 75vh;
        }
    }
}



@media only screen and (min-width: 1200px){

    .first{
        gap: 3vw;
        padding: 1vw 1vw;
        align-content:flex-start;

        .form__card{
            width: 170px;
            height: 200px;
        }

        .form__dept-title{
            font-size: 0.9rem;
            font-weight: 600;
        }
    }

    .form-container{
        height: 85vh;
        font-weight: 600;
    }

    .progression{
        gap: 0.3vw;
        margin-bottom: 1vw;

        .progression__title{
            display: flex;
            margin-bottom: 10px;
            font-weight: 700;
        }
    }
    .mobile-label{
        display: none;
    }
}

@media only screen and (min-width: 2000px){

    .first{
        gap: 3vw;
        padding: 1vw 1vw;
        align-content:flex-start;
        max-height: unset;

        .form__card{
            width: 270px;
            height: 400px;
        }

        .form__dept-title{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}

.second{
    padding: 5vw 10vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 1vw;
    // max-height: 800px;
    overflow: auto;
    justify-content: center;
    align-items: center;
    


    .field-container{
        width: 100%;
        display: flex;
        flex-flow: column;
        max-width: 700px;

        // justify-content: center;
        // align-items: center;
    }

    input{
        width: 100%;
        height: 50px;
        // border-radius: 30px;
        // border: 1px solid gray;
        // padding: 10px;
        background-color: transparent;
        border-radius: 30px;
        margin-bottom: 5vw;
        border: unset;
        border-radius: 0;
        border-bottom: 2px solid rgb(186, 182, 182);
        max-width: 700px;
        
    }

    input:focus{
        outline: unset;
        border-bottom: 3px solid rgb(77, 76, 76);   
    }

    select{
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: $fontbase-color;
        width: 100%;
        height: 50px;
        // border: 1px solid gray;
        // border-radius: 30px;
        // padding: 10px;
        background-color: transparent;
        margin-bottom: 5vw;
        border: unset;
        border-radius: 0;
        border-bottom: 2px solid rgb(186, 182, 182);
        max-width: 700px;
    }

    select:focus {
        // border: 1px solid rgba(12, 113, 229, 0.221);
        // box-shadow: 0 0 5px rgba(12, 113, 229, 0.221);
        // border-width: 2px;
        outline: unset;
        border-bottom: 3px solid rgb(77, 76, 76);
    }
    
    label{
        width: 100%;
        font-weight: 900;
        font-size: 1.2rem;
        // padding-left: 10px;
    }

    .caseNo-container{
        display: none;
    }
}

@media only screen and (min-width: 1200px){

    .second{
        gap: 2vw;
        padding: 1vw 2vw;
        input, select{
            margin-bottom: unset;
        }

    }

}

@media only screen and (max-width: 400px){
    html{
        font-size: 12px;
    }
    
    .header{
        height: 50px;
        .header__logo{
            width: 40px;
            height: 40px;
        }
    }
    
    .header__nav-mobile{
        .header__nav-mobile--links{
            width: 200px;
        }
    }
    
    .first{
        .form__card{
            width: 100px;
            height: 130px;

            .form__dept-img{
                width: 80px;
            }
        }
    }
}